body{
	background-image: url('../img/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
}
@font-face{
	font-family:webfont;
	src:url('font/calibri.ttf');
}
.parallax{
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0px;
}
.alert{
	font-size: 30;
	color: red;
}
.facebookarea{
	z-index: 0;
	background-color: #4D68A1;
	position: absolute;
	height: 100%;
	width: 280px;
	left: -250px;
}
.arrowface{
	z-index: 1;
	position: absolute;
	top: 1px;
	left: 250px;
	width: 30px;
	height: 30px;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.logoface{
	z-index:1;
	position:absolute;
	top: 30;
	left: 250;
	width: 30px;
	height: auto;
}
.headfaceavatar{
	z-index:2;
	position: absolute;
	top: 20;
	right: 500;
	width: 50px;
	height: 50px;
}
.headfacename{
	z-index:2;
	position: absolute;
	top: 20;
	right: 300;
	font-family: webfont;
	font-size: 38;
	color: black;
	text-align:right;
	width: 400px;
}
.facenews{
	z-index:3;
	position: absolute;
	right: 500;
	color: black;
	font-family: webfont;
	font-size: 15;
	width:210;
}
.facenewsshort{
	z-index:2;
	position:absolute;
	color: black;
	font-family: webfont;
	font-size:11;
	left: 10;
	
}
.backgoundface{
	z-index:1;
	position: absolute;
	background-color: #EEEEEE;
	width: 250px;
	height: 100%;
	right: 300px;
}
.forumarea{
	background-color: #F9602F;
	position: absolute;
	height: 100%;
	width: 1326px;
	right: -1296px;
}
.arrowforum{
	position:absolute;
	bottom: 10px;
	left: 0;
	width: 30px;
	height: 30px;
}
.logoforum{
	position:absolute;
	bottom: 40;
	left: 0;
	width: 30px;
	height: auto;
}
.backgroundforum{
	z-index:1;
	position: absolute;
	background-color: white;
	width: 1297;
	height: 100%;
	right: -1200px;
	overflow: hidden;
}
.backgroundforum::-webkit-scrollbar{
		width:8px;
		background-color:#EEEEEE;
		}
.backgroundforum::-webkit-scrollbar-thumb{
		background-color:#F9602F;
		border-radius:10px;
		}

.headforumavatar{
	display: none;
	z-index:2;
	position: absolute;
	top: 20;
	left: 20;
	width: 50px;
	height: 50px;
	cursor: pointer;
	
}
.headforumlogin{
	z-index:2;
	position: absolute;
	top: 20;
	left: 80;
	width: 50px;
	height: 50px;
	cursor: pointer;
	
}
.logininput{
	margin-left: 20;
	margin-top: 10;
	width: 300;
	height:30;
	font-style: italic;
	color: gray;
}
.registerinput{
	margin-left: 20;
	margin-top: 10;
	width: 300;
	height:30;
	font-style: italic;
	color: gray;
}
.styleaccountsettinginput{
	width: 300;
	height:30;
	font-style: italic;
	color: gray;
}
.submitstyle{
	margin-left: 20;
	margin-top: 10;
	background-color: black;
    color: white;
    border: 0px;
    padding:10px;
    font-family: webfont;
    size: 20px;
    cursor: pointer;
}
.headforumregister{
	z-index:2;
	position: absolute;
	top: 20;
	left: 20;
	width: 50px;
	height: 50px;
	cursor: pointer;
	
}
.accountsettinguploadimg{
	color: ;
}
.accountsettinguploadimg::-webkit-file-upload-button {
  visibility: hidden;
}
.accountsettinguploadimg::before {
  content: 'Tải Ảnh Lên';
  display: inline-block;
  background: black;
  padding:10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-family:webfont;
  color: white;
}
.accountsettinguploadimg:hover::before {
  border-color: black;
}
.accountsettinguploadimg:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.headforumname{
	display: none;
	z-index:2;
	position: absolute;
	top: 20;
	left: 80;
	font-family: webfont;
	font-size: 38;
	color: black;
	width: 400px;
}
.notification{
	position: absolute;
	top: 0;
	left:0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.message{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.headforumnotification{
	position: absolute;
	top: 20px;
	right: 20;
	width: 80px;
	
}
.lineofaccountoption{
	position: absolute;
	top: 75px;
	left: 20px;
	width: 1;
	height: 0;
	background-color: black;
}
.accountsettingoption{
	position: absolute;
	top: 80;
	left: 25;
	height: 40px;
	width: 0px;
	font-family: webfont;
	font-size: 25;
	color: white;
	text-overflow:clip; 
	overflow:hidden;
	white-space:nowrap; 
	cursor: pointer;
	z-index: 10;
	background-color: black;
	text-indent:10px;
}
.accountsettinglogout{
	position: absolute;
	top: 120;
	left: 25;
	width: 0px;
	font-family: webfont;
	font-size: 25;
	color: white;
	text-overflow:clip; 
	overflow:hidden;
	white-space:nowrap;
	cursor: pointer; 
	z-index: 10;
	background-color: black;
	text-indent:10px;
}
.mainforum{
	position: absolute;
	top:100;
	left: 40;
	width: 1230;
	height: 550;
	overflow: auto;
	background-color:white; 
}
.mainforum::-webkit-scrollbar{
	width:6px;
	background-color:transperant;
} 
.mainforum::-webkit-scrollbar-thumb{
	background-color:black;
	border-radius:10px;
}
.catalog{
	background-color: black;
	width:97%;
	height:50px;
	font-family: webfont;
	font-size: 40;
	color: white;
	text-align: right;
	padding-right:2%
}
.catalogofthread span{
	font-size: 20;
	color:#FF0000;
}
.box{
	width: 1215;
	height: 100;
	background-color: white;
	margin: auto;
}
.boxtitle{
	font-family: webfont;
	font-size: 30;
	cursor: pointer;
	width: 500;
}
.thongtinbox{
	font-family: webfont;
	font-size: 15;
	cursor: context-menu;
	width: 400;
	padding-left: 10;
}
.chitietbox{
	margin-left: 550px;
	margin-top: -55px;
	font-family: webfont;
	font-size: 15;
	cursor: context-menu;
	width: 100px;
	height: auto;
	text-align: right;
}
.newestthreat{
	margin-left: 680px;
	margin-top: -42px;
	font-family: webfont;
	font-size: 15;
	cursor: pointer;
	width: 500;
	height:75;
}
.newestthreattitle{
	font-size: 20;
	text-overflow: ellipsis; 
	overflow:hidden;
	white-space:nowrap;
	cursor: pointer; 
}
.lineofbox{
	margin-top: 8px;
	margin-left: 12px;
	height: 1px;
	width: 1000px;
	background-color: black;
}
#video_background { 
	position: absolute;
	bottom: -150px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden
}
.notificationofsystem{
	display: none;
	z-index: 10;
	position: absolute;
	width:310;
	height: 25;
	top: 80;
	left:25;
	background-color: white;
	box-shadow: 0px 0px 20px 1px #888888;
	font-family: webfont;
	font-style: italic;
	padding: 10;
	
}
.accountsettinginput{
	display: none;
	position: absolute;
	float: left;
	margin-top: 15;
	margin-left: 30;
	font-family: webfont;
}
.accountsettingavatar{
	position: absolute;
	margin-top: 15;
	margin-right: 30;
	display: none;
}
.accountsetting{
	display: none;
	z-index: 10;
	position: absolute;
	width:60%;
	height: 80%;
	top: 75;
	left:200;
	background-color: white;
	box-shadow: 0px 0px 20px 1px #888888;
}
.closeaccountsetting{
	position: absolute;
	top: 5;
	right: 5;
	width: 15px;
	height:15px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition:opacity 0.2s; /* For Safari 3.1 to 6.0 */
	transition:opacity 0.2s;
}
.closeaccountsetting:hover{
	opacity: 1;
}
.threads{
	display: none;
	position: absolute;
	top:100;
	left: 40;
	width: 1230;
	height: 550;
	overflow: auto;
	background-color:white;
}
.threads::-webkit-scrollbar{
	width:6px;
	background-color:transperant;
} 
.threads::-webkit-scrollbar-thumb{
	background-color:black;
	border-radius:10px;
}

.backforum{
	display: none;
	position: absolute;
	top: 25;
	left: 25;
	width: 40;
	height: 40px;
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	cursor: pointer;
}
.thread{
	width: 1215;
	height: 50;
	margin: auto;
}
.athread{
	width: 1215;
	height: auto;
	margin: auto;
}
.threadtitle{
	font-family: webfont;
	font-size: 25;
	cursor: pointer;
	width: 500;
}
.thongtinthread{
	font-family: webfont;
	font-size: 15;
	cursor: pointer;
	width: 400;
	padding-left: 10;
}
.chitietthread{
	margin-left: 550;
	margin-top: -40;
	font-family: webfont;
	font-size: 15;
	cursor: context-menu;
	width: 100;
	height: auto;
	text-align: right;
	
}
.newestsender{
	margin-left: 680;
	margin-top: -42;
	font-family: webfont;
	font-size: 15;
	cursor: pointer;
	width: 500;
	height: 75;
}
.newestsendername{
	font-size: 20;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
.newestsendertime{
	font-family: webfont;
	font-size: 15;
	cursor: pointer;
}
.catalogofthreads{
	background-color: black;
	width:97%;
	height:50px;
	font-family: webfont;
	font-size: 40;
	color: white;
	text-align: right;
	padding-right:2%
}
.catalogofthread{
	background-color: black;
	width:97%;
	height:50px;
	font-family: webfont;
	font-size: 40;
	color: white;
	text-align: right;
	padding-right:2%
}
.accountinfoavatar{
	position: absolute;
	top: 20;
	left: 20;
	width: 50;
	height: 50;
}
.accountinfo{
	position: absolute;
	font-family: webfont;
	font-size: 20;
	font-style: italic;
	left: 20;
}
.timethread{
	margin-top: 15;
	font-family: webfont;
	font-size: 15;
	cursor: context-menu;
	width: 130;
	height: auto;
	float: left;
}
.senderthread{
	font-family: webfont;
	font-size: 30;
	cursor: context-menu;
	width: 500;
}
.contextthread{
	font-family: webfont;
	font-size: 15;
	cursor: context-menu;
	width: 1000;
	padding-left: 20;
	padding-top: 5;
}
